<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="env_istatistik.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <env_istatistik.Properties.Settings>
            <setting name="wrfDataPath" serializeAs="String">
                <value>D:\Enverziyon\stat-data\EnvWrfYedek\</value>
            </setting>
            <setting name="ecmDataPath" serializeAs="String">
                <value>D:\Enverziyon\stat-data\EnvYedek\</value>
            </setting>
            <setting name="radDataPath" serializeAs="String">
                <value>D:\Enverziyon\stat-data\radiodata\</value>
            </setting>
        </env_istatistik.Properties.Settings>
    </userSettings>
</configuration>